/* Fonts  */

/* poppins 700 */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@500;700&family=Prompt&family=Roboto&display=swap');
/* poppins 700 */

/* poppins 400 */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins&family=Prompt&family=Roboto&display=swap');
/* poppins 400 */



/*----------------------------------
------- Banner Design --------------
------------------------------------ */

.banner {
    background-color: #161616;
    Width: 1321px;
    Height: 646px;
    border-radius: 30px;
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.banner-description {

    width: 531px;
    height: 424px;
    /* margin-left: 106px;
    margin-top: 111px;
    margin-bottom: 111px;
    margin-right: 24px; */
    margin: 111px 24px 111px 111px;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    color: white;
    margin-bottom: 20px;
    margin-top: 0px;
}

.details {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    font-weight: 400;
    margin-bottom: 30px;

}

.button {
    width: 187px;
    height: 56px;
    padding: 16px 25px;
    text-decoration: none;
    border-radius: 5px;
    gap: 10px;
    background-color: #DD0000;
}

.banner-image {
    /* width: 581px;
    height: 613px; */
    margin-top: 33px;
    margin-right: 79px;
    /* margin-left: 661px; */

}

.banner-image img {
    /* width: 100%; */
    width: 581px;
    height: 613px;

}

/* -----------------------------
 -------- banner End -----------
 ----------------------------- */


/* -----------------------------
 ------- 3 buttons start  -------
 ------------------------------ */

.container {
    display: grid;
    grid-template-columns: 312px, repeat(1, 1fr);
}

.aside {
    width: 312px;
    height: 312px;
    background: #161616;
    border-radius: 10px;
    padding: 30px;
}

.box {
    height: 252px;
    width: 252px;
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.aside>.box>a {
    text-decoration: none;

}

.buttons3 {
    Width: 252px;
    Height: 64px;
    border-radius: 10px solid black;
    background-color: gray;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

}

/* -----------------------------
 ------- 3 buttons end  -------
 ------------------------------ */

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
}

.blog {
    Width: 312px;
    Height: 362px;
    border: 1px solid black;
}

.blog-image {
    Width: 312px;
    Height: 175px;
    margin-bottom: 20px;
}

.block-image img {
    width: 100%;
}

.blog-title {}

.blog-title>a {
    /* Width: 100px;
    Height: 32px; */
    text-decoration: none;
    border: 1px solid #161616;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 4px 16px 4px 17px;
}

.blog-title>h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 20px;
}

.blog-info {
    display: flex;
    justify-content: space-between;
    Width: 143px;
    Height: 26px;

}

.blog-info>p {
    margin-top: 0px;
    margin-bottom: 20px;
}





/* Footer section Start  */

footer {
    Width: 1600px;
    Height: 444px;
    background-color: #161616;
}

.goal {
    Width: 95px;
    Height: 60px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;



}

.goal>f1 {
    margin-top: 130px;
}

hr {
    width: 1320px;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.last {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    color: #B9B9B9;

    Width: 898px;
    Height: 24px;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

/* Footer section end  */